.enderecoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.3);
  height: 95vh;
  width: 100%;
}

.boxEndereco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 700px;
  margin: 30px;
  border-radius: 20px;
  border: 2px dashed black;
  background-color: rgb(255, 0, 0, 0.7);
}

.enderecoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enderecoBox {
  display: flex;
  flex-direction: column;
}

.enderecoBox div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.enderecoBox div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

}

.enderecoBox div:first-child div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 110px;
}

.enderecoBox button{
  margin-left: 30px;
}


.h1Endereco {
  text-align: center;
  min-width: 200px;
}

.h1EnderecoContainer{
  display: flex;
  justify-content: center;
}


.btnBuscar {
  border: none;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

.btnBuscar:hover {
  background-color: rgb(0, 175, 23);
  color: black;
  transition: 0.4s;
}

.btnBuscar:not(:hover) {
  background-color: rgb(25, 25, 25);
  color: #FFF;
  transition: 1s;
}
