.containerLoginBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 400px;
  padding: 30px 0;
  height: 200px;
  background-image: url('../images/a15c8b0440037185125fa39fd276010d447d2e47_00.jpg');
  background-size: 400px 260px;
  border-radius: 25px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  outline: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.btnEntrar {
  border: none;
  background-color: rgb(0, 196, 10);
  padding: 5px 15px;
  margin-top: 25px;
  border-radius: 5px;
  color: #FFF;
}

.btnEntrar:hover {
  background-color: rgb(175, 0, 0);
  color: black;
}


.containerLogin{
  display: flex;
  justify-content: center;

}

.pageContainer {
  background-image: url('../images/mario-dance.gif');
  min-height: 80.8vh;
  background-size: contain;

  /* background-size: 90vh;
  height: 80vh; */
}

.divH1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}