.h1Pessoa{
  text-align: center;
  min-width: 200px;
  
}

.h1PessoaContainer {
  display: flex;
  justify-content: center;
}

.boxPessoa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px dashed black;
}



.boxPessoa div {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.boxCadastro {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.dataNascimento {
  width: 170px;
}

.btnEnviar {
  border: none;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  border-radius: 5px;
  color: #FFF;
}

.btnEnviar:hover {
  background-color: rgb(0, 175, 23);
  color: black;
  transition: 1s;
}

.btnEnviar:not(:hover) {
  background-color: rgb(25, 25, 25);
  color: #FFF;
  transition: 1s;
}

