.container {
  background-color: rgb(25, 25, 25);
  padding: 10px;
}

.header {
  background-color: rgb(25, 25, 25);
  padding: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}