.menu {
  display: flex;
}

.menu a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: rgb(150, 150, 150);
}

.menu ul{
  display: flex;
  margin-right: 50px;
}

.menu li{
  list-style-type: none;
  margin-left: 20px;
}

.btnSair {
  border: none;
  /* background-color: rgb(25, 25, 25); */
  padding: 3px 15px;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: black;
  cursor: pointer;
}

.btnSair:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}