.containerPessoa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxPessoa p{
  margin: 30px 20px;
}

.boxPessoa{
  background-color: rgb(255, 0, 0, 0.5);
  width: 450px;
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow:
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(253, 255, 123),
  0 0 20.5px rgb(253, 255, 123),
  0 0 23px rgb(253, 255, 123),
  0 0 25.5px rgb(253, 255, 123),
  0 0 37.7px rgb(253, 255, 123);
}

.boxPessoa:hover{
  box-shadow:
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(255, 8, 0),
  0 0 20.5px rgb(255, 8, 0),
  0 0 23px rgb(255, 8, 0),
  0 0 25.5px rgb(255, 8, 0),
  0 0 37.7px rgb(255, 8, 0);
  transition: 0.75s;
}


.boxPessoa:not(:hover){
  box-shadow:
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(253, 255, 123),
  0 0 20.5px rgb(253, 255, 123),
  0 0 23px rgb(253, 255, 123),
  0 0 25.5px rgb(253, 255, 123),
  0 0 37.7px rgb(253, 255, 123);
  transition: 0.75s;
}


.boxPessoa div {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.btnApagar {
  border: none;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  border-radius: 5px;
  color: #FFF;
  min-width: 80px;
  cursor: pointer;
  
}

.btnApagar:hover {
  background-color: rgb(255, 0, 0);
  color: black;
  transition: 0.4s;
}

.btnApagar:not(:hover) {
  background-color: rgb(25, 25, 25);
  color: #FFF;
  transition: 0.45s;
}

.btnEditar {
  border: none;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  border-radius: 5px;
  color: #FFF;
  min-width: 80px;
  cursor: pointer;
  
}

.btnEditar:hover {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.btnEditar:not(:hover) {
  background-color: rgb(25, 25, 25);
  color: #FFF;
  transition: 0.45s;
}

