
.btnContainer button {
  right: 100px;
  bottom: 90px;
  border-radius: 20px;
  position: fixed;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnContainer button:after {
  content: "";
  border-radius: 20px;
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btnContainer button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btnContainer button {
    padding: 13px 50px 13px;
  }
}